*{
    color: white;
    zoom: 0.93;
}

@keyframes fadeInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


@font-face {
    font-family:klik-light;
    src: url(./klik-light.otf);
}

:root {
    --white: #fff;
    --bg: #dbebfa;
    --pink: #9b29b7;
  }

  .nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 35px;
  }
  
  .nav li {
    margin-right: 60px;
    margin-top: 15px;
  }
  
  nav a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Quita el subrayado del texto */
    padding: 10px; /* Espacio interno alrededor del enlace para hacerlo más clickeable */
  }
  
  .nav a:hover {
    background-color: #555; /* Color de fondo cuando el enlace está en hover */
  }
  


body{
    background-color: #070808;
    margin: 0;
    padding: 0;
}

#background-container{
    background-color: rgb(0, 0, 0);
    height: 500px;
}

#parrafo-header{
    font-family: klik-light;
    opacity: 0; 
    animation: fadeInFromLeft 1s ease forwards;
    animation-delay: 0.5s; 
}


#header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 28rem;
    font-size: 40px;
}

#h1-mi-nombre{
    font-size: 100px;
    margin-bottom: -0.4em;    
}

h1,h3,p,ul,tr,td{
    font-family: Arial, Helvetica, sans-serif;
    font-family: monospace;
}

h3{
    letter-spacing: 10px;
}

.section-container{
    text-align: center;
    margin: 60px;
    position: relative;
    top: 300px;
}


#foto-perfil{
    width: 310px;
    position: absolute;
    top: 320px;
    transition: transform 0.3s ease;
}
    
    
#foto-perfil:hover{
    transform: scale(1.1);
}


#about-me{
    text-align: center;
    width: 670px;
    height: 670px;
    position: relative;
    top: 320px;
    margin: 190px;
}

footer {
     font-size: 30px;
  }

.logo{
    width: 80px;
    position: relative;
    right: 10px;
    top: 35px;
    padding: 15px;
    transition: transform 0.3s ease;
}

.logo:hover{
    transform: scale(1.4);
}

.logo-footer{
    width: 50px;
    position: relative;
    right: 10px;
    top: 30px;
    padding: 15px;
    transition: transform 0.3s ease;
}

.logo-footer:hover{
    transform: scale(1.4);
}

.a-ref-list:hover{
    color: rgb(180, 75, 218);
}

.a-ref-list:active{
    color: rgb(221, 172, 218);
}

.a-ref:hover{
color: rgb(180, 75, 218);
}

.a-ref:active{
color: rgb(221, 172, 218);
}

#educacion{
    position:relative;
    left: 15px;
}

tr{
    font-size: 60px;
}


h3 {
    color: var(--white);
    position: relative;
    display: inline-block;
  }
  
  h3:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--pink);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
  }
  
  h3:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  @media screen and (max-width: 600px) {
    header {
      padding: 10px;
    }
  
    h1 {
      font-size: 48px;
    }
  
    .nav ul {
        list-style: none; 
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 50px;
      }
      
      .nav li {
        margin-right: 60px;
        margin-top: 15px;
      }
      
      nav a {
        color: #fff; /* Color del texto de los enlaces */
        text-decoration: none; /* Quita el subrayado del texto */
        padding: 10px; /* Espacio interno alrededor del enlace para hacerlo más clickeable */
      }
      
      .nav a:hover {
        background-color: #555; /* Color de fondo cuando el enlace está en hover */
      }
  
    #header-container {
      bottom: 10rem;
      font-size: 30px;
    }
  
    #foto-perfil {
      width: 150px;
      top: 250px;
    }
  
    #about-me {
      width: 85%;
      height: auto;
      top: 100px;
      margin: 50px 10px;
    }
  
    .section-container {
      top: 20px;
    }
  
    tr {
      font-size: 30px;
    }
  }


 
  





